<html>
    <head>
        <title>MemePanda</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
    </head>
    <body>
      {{{body}}}
    </body>
</html>