<html>
    <head>
        <title>MemePanda</title>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
     
 <body class="text-center">
     
     <form class="form-signin" method="post" action="/users/login">
         <img class="mb-4" src="/images/logo.jpg" alt="" width="190" height="190" onclick="window.location.href='http://localhost:3000/'" style="cursor: pointer">
         <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
         <label for="inputEmail" class="sr-only">Username</label>
         <input type="userrname" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
         {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}
         <div class="checkbox mb-3">
         </div>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>  
         <a href="/users/register" style="color:blue;text-decoration:underline">Create A new Account</a>
         <p class="mt-5 mb-3 text-muted">&copy; Meme Panda 2018</p>
     </form>
     
  </body>
</html>